{{ use('yii/widgets/Breadcrumbs') }}
{{ use('app/widgets/Alert') }}

{{ register_asset_bundle('app/assets/AppAsset') }}

{{ void(this.beginPage()) }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="*****">
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '*****',
                cookie     : true,  // enable cookies to allow the server to access
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.8' // use graph api version 2.8
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/uk_UA/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="/js/development/jquery.min.js"></script>
    {{ Html.csrfMetaTags | raw }}
    <title>{{ Html.encode(this.title) }}</title>
    {{ void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}

<div class="wrap">

    {{ nav_bar_begin({
        'brandLabel' : Yii.t('app', 'MultipleAuth'),
        'brandUrl' : app.homeUrl,
        'options' : {
            'class' : 'navbar-inverse navbar-fixed-top',
        }
    }) }}
    {{ nav_bar_end() }}

    <div class="container">

        {% if this.params['breadcrumbs'] %}
            {% set breadcrumbs = this.params['breadcrumbs'] %}
        {% else %}
            {% set breadcrumbs = [] %}
        {% endif %}

        {{ breadcrumbs_widget({
            'links' : this.params['breadcrumbs'] ?  breadcrumbs : [],
        }) | raw }}

        {{ alert_widget() | raw }}

        {{ content | raw }}

    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-right">&copy; <a href="https://www.splynx.com">Splynx</a> 2015-{{ "now"|date("Y") }}</p>
    </div>
</footer>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}

