<div class="site-index">
    <div class="login-buttons">
        <div class="google" id="gSignInWrapper">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
        <div class="facebook fb-login-button" onlogin="checkLoginState()" data-width="200" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
    </div>
</div>
