<div class="site-index">

    <div class="body-content">
        <div class="row">
            <div class="col-lg-12">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ Html.encode(message) | nl2br | raw }}
                    </div>
                {% endif %}

                <h2>{{ Yii.t('app', 'Add new customer') }}</h2>

                {% set form = form_begin({
                    'options': {
                    'class': 'form-horizontal'
                    },
                    'fieldConfig': {
                    'template': "{label}\n<div class=\"col-lg-4\">{input}</div>\n<div class=\"col-lg-6\">{error}</div>",
                    'labelOptions': {'class': 'col-lg-1 control-label'},
                    }

                    }) | raw %}

                    {{ form.field(model, 'login') | raw }}
                    {{ form.field(model, 'name').textInput({'value':customer.name}) | raw }}
                    {{ form.field(model, 'email').textInput({'value':customer.email}) | raw }}
                    {{ form.field(model, 'street_1').textInput({'value':customer.locale}) | raw }}
                    {{ form.field(model, 'street_2') | raw }}
                    {{ form.field(model, 'bday') | raw }}
                    {{ form.field(model, 'password').passwordInput() | raw }}
                    {{ form.field(model, 'repeat_password').passwordInput() | raw }}

                    <div class="form-group">
                        <div class="col-lg-offset-1 col-lg-11">
                            {{ Html.submitButton(Yii.t('app', 'Add'), {
                                'class': 'btn btn-success',
                                'name': 'login-button'
                            }) | raw }}
                        </div>
                    </div>

                {{ form_end() }}

            </div>
        </div>

    </div>

</div>
