html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.site-index {
    width: 100%;
}
.login-buttons {
    width: 400px;
    margin: 0 auto;
}
.login-buttons .google {
    vertical-align: middle;
    width: 150px;
    display: inline-block;
}
.login-buttons .facebook {
    vertical-align: middle;
    width: 150px;
    display: inline-block;
}